* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Bahnschrift;
  transition: 0.3;
}

/* //////// HEADER //////// */

.menubar {
  height: 15vh;
  width: 100%;
  background-color: rgb(29, 29, 29);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
}
nav ul li a:hover {
  color: rgb(220, 200, 19);
  transition: 0.2s;
}

nav btn a img {
  height: 10vh;
}

.logo_omerusart {
  border-radius: 50%;
  height: 10vh;
}

.logo_artstation {
  height: 10vh;
}

/* //////// HOME //////// */

.home {
  width: 100%;
  background-color: rgb(141, 141, 141);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.greyarea {
  background-color: rgb(202, 202, 202);
  width: 65%;
  height: 20%;
  border-radius: 2rem;
  padding: 2% 2% 2% 2%;
  font-size: 20px;
  line-height: 30px;
}

/* //////// PORTFOLIO //////// */

.portfolio {
  background-color: rgb(107, 107, 107);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.galleryarea {
  background-color: rgb(202, 202, 202);
  height: auto;
  width: 65%;
  border-radius: 2rem;
  font-size: 20px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
  width: 45vh;
  align-items: center;
  box-sizing: content-box;
  display: grid;
  padding: 2%;
  padding-top: 4%;
  padding-bottom: 3%;
  margin-bottom: 60px;
}

.card .imagebox {
  border-radius: 2rem;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.card img {
  width: 80%;
  border-radius: 30px;
}

.card .seemorebox {
  border-radius: 2rem;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

.seemorebutton {
  background-color: rgb(153, 153, 153);
  height: 5vh;
  width: 100%;
  border: 0ch;
  border-radius: 15px;
  padding-left: 3vh;
  padding-right: 3vh;
  font-size: 20px;
}

.portfolio a {
  width: 100%;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.seemorebutton:hover {
  background-color: rgb(26, 26, 26);
  color: white;
  transition: 0.1s;
}

.seeallbox {
  width: 80%;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

.seeallbutton {
  background-color: rgb(153, 153, 153);
  height: 8vh;
  width: 100%;
  border: 0ch;
  border-radius: 15px;
  padding-left: 3vh;
  padding-right: 3vh;
  font-size: 30px;
}

.seeallbutton:hover {
  background-color: rgb(26, 26, 26);
  color: white;
  transition: 0.1s;
}

/* //////// CONTACT //////// */

.contact {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 4vh;
  background-color: #4a4a4a;
}
.contact .contact_form {
  width: 65%;
  margin: auto auto;
  margin-bottom: 2%;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
}
.contact .contact_form .contact-form-text {
  display: block;
  width: 100%;
  height: 8vh;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  font-size: 1.5rem;
  border: 0;
  background-color: rgb(161, 161, 161);
}
.contact .contact_form .contact-form-textarea {
  display: block;
  width: 100%;
  height: 20vh;
  box-sizing: border-box;
  margin: 16px 0;
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 1.5rem;
  font-size: 1.5rem;
  border: 0;
  background-color: rgb(161, 161, 161);
}
.contact-form-text:focus,
.contact-form-textarea:focus {
  box-shadow: 0 0 2px 2px rgb(92, 92, 92);
}
.contact_button {
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  height: 8rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 2rem;
  text-transform: none;
  border: 0;
  background-color: #bbbbbb;
}
.contact_button:hover {
  background-color: #248bc3;
  transition: 0.5;
}

.footer {
  height: 12vh;
  width: 100%;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer_navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.copyright {
  font-size: 1rem;
  color: #b1b1b1;
  margin-left: 2rem;
  margin-right: 2rem;
}
.footer img {
  width: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 50%;
}
.footer img:hover {
  opacity: 100%;
  margin-bottom: 2rem;
  transition: 0.2s;
}
